.input {

    margin: 0 0 0 10px;
    
    input {
        color: black;
        height: 30px;
        background-color: rgb(220, 220, 220);
        border: 0;
        outline: 0;
        border-radius: 5px;
        text-indent: 10px;
    }

    input:focus {outline:none!important;}

    select {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        height: 30px;
        width: 85px;
        background-color: rgb(220, 220, 220);
        border: 0;
        outline: 0;
        border-radius: 5px;
        text-indent: 10px;
    }
}